<% layout('layouts/boilerplate') -%>


<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center">KEY MANAGER</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 rounded login-form text-white shadow-lg px-5 pt-4 my-3">
            <div class="row justify-content-between mb-3">
                <h3 class="display-5 d-inline">Keys Saved</h3>
                <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#newKeyModal">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <% if (keys.length) { %>
    <div class="row justify-content-center text-white">
        <div class="col-md-6 rounded shadow-lg login-form p-3">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-4">
                    Title
                </div>
                <div class="col-12 col-md-6">
                    Key
                </div>
            </div>
            <% keys.forEach((key, i) => { %>
            <div class="row justify-content-around justify-content-md-center my-3">
                <div class="col-12 col-md-4">
                    <%= key.title %>
                </div>
                <div class="col-4">
                    <input class="hidden-key text-white" type="password" id="key<%= i %>" value="<%= key.key %>" size="13" disabled>
                </div>
                <div class="col-1">
                    <i class="far fa-eye key-visibility rounded-circle ml-3" data-toggle="tooltip" data-placement="bottom" title="Show Key" data-key-visibility></i>
                </div>
                <div class="col-1">
                    <div class="dropleft d-inline ml-3">
                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v key-settings rounded"></i>
                        </a>
                        <div class="dropdown-menu rounded" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" data-key-copy href="#">Copy</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editKeyModal<%= i %>">Edit</a>
                            <form action="/<%= key._id %>?_method=DELETE" method="POST">
                                <input class="dropdown-item" type="submit" value="Remove">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- EDIT MODAL FOR EACH KEY -->
            <div class="modal fade" id="editKeyModal<%= i %>" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header border-0"">
                            <h5 class="modal-title">EDIT KEY</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="text-white" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/<%= key._id %>?_method=PUT" method="POST">
                            <div class="modal-body border-0">
                                <div class="form-group">
                                    <label for="title">Account Title</label>
                                    <input type="text" id="titleEdit<%= i %>" name="title" value="<%= key.title %>" required aria-required class="form-control text-white bg-dark">
                                </div>
                                <label for="key">Key(Password)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-light" type="button" id="randomKeyEdit<%= i %>" data-key-edit-randomize data-toggle="tooltip" data-placement="bottom" title="Random Key"><i class="fas fa-random"></i></button>
                                    </div>
                                    <input type="password" id="keyEdit<%= i %>" name="key" class="form-control bg-dark text-white" value="<%= key.key %>" required aria-required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-light" type="button" id="showKeyEdit<%= i %>" data-key-edit-show data-toggle="tooltip" data-placement="bottom" title="Show Key"><i class="far fa-eye"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <button class="btn btn-outline-light btn-sm" data-dismiss="modal">CANCEL</button>
                                    <button type="submit" class="btn btn-sm btn-outline-light">SAVE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>  
            <% })} %>
        </div>
    </div>
</div>

<%- include('../modals/newKeyModal') %>

<script src="/javascripts/randomKey.js"></script>
<script src="/javascripts/showKey.js"></script>
<script src="/javascripts/copyText.js"></script>